{% extends 'site_tamoj/base.html' %}
{% load static %}
{% block content %}


    <div class="card-body">
        <div class="header-bar">
            <h1>Вход в учетную запись</h1>
        </div>
        <form action="" method="POST">
            {% csrf_token %}



            <input type="text" class="form-input" name="username" placeholder="Электронная почта">


            <input type="password"class="form-input" name ="password"  placeholder="Пароль">


        <input type="submit" value="пока оставлю эту супер уебанскую кнопку здесь" class="button-login">
        </form>
    </div>
{% endblock %}